
/* beginning section begins here */

#welcome{
  background: url('../images/background.jpg') center center no-repeat;
  background-repeat: no-repeat;
  background-size: cover !important;
  height: -webkit-fill-available;
}

.navbar-toggler-icon{
  color: #fff;
}

.navbar-nav{
  text-align: center;
}

.cookies{
  width: 100%;
  height: 55px;
  background-color: #194277;
  color: #fff;
}

.cookie-title{
  margin-top: 12px;

}

.cookie-btn{
  color: #194277;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 1px 30px;
  margin: 9px 18px;
}

.p-button{
  padding: 2px 0px 0px 0px;
  margin: 0;
  font-weight: 500;
}

.spacing-image{
  margin-top: 75px;
}

.welcome-paragraph{
  padding: 0 18%;
  font-size: 16px;
}

.hire-btn{

  color: #194277;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 35px;
  margin: 9px 18px;
}

.welcome-font-color{
  color: #fff;
}

.material-icons{
  margin-top: 50px;
  color: #fff;
  font-size: 40px;
}
/* beginning section ends here */


/* about me section starts here */

#about-me{
  padding: 5% 0
}


.about-title{
  font-size: 42px;
  color: #3695ff;
  margin-bottom: 48px;
}


/* about me section ends here */

/* about me section starts here */
#expert-in{
  background: #f1f8ff;
  padding: 5% 0;
  height: 600px;
}

/* about me section ends here */




@media only screen and (max-width: 800px) {
  #welcome{
    height: 1200px;
  }

  .cookies {
    height: 120px;
  }
}