
/* beginning section begins here */

#welcome{
  background: url('../images/background.jpg') center center no-repeat;
  background-repeat: no-repeat;
  background-size: cover !important;
  height: -webkit-fill-available;
}

.navbar-toggler-icon{
  color: #fff;
}

.navbar-nav{
  text-align: center;
}

.cookies{
  width: 100%;
  height: 55px;
  background-color: #194277;
  color: #fff;
}

.cookie-title{
  margin-top: 12px;

}

.cookie-btn{
  color: #194277;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 1px 30px;
  margin: 9px 18px;
}

.p-button{
  padding: 2px 0px 0px 0px;
  margin: 0;
  font-weight: 500;
}

.spacing-image{
  margin-top: 75px;
}

.welcome-paragraph{
  padding: 0 18%;
  font-size: 16px;
}

.hire-btn{

  color: #194277;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 35px;
  margin: 9px 18px;
}

.welcome-font-color{
  color: #fff;
}

.material-icons{
  margin-top: 50px;
  color: #fff;
  font-size: 40px;
}

.fas{
  margin-top: 50px;
}

.fa-adobe{
 margin-top: 50px;
}
/* beginning section ends here */


/* about me section starts here */

#about-me{
  padding: 5% 0
}


.about-title{
  font-size: 42px;
  color: #3695ff;
  margin-bottom: 48px;
}


/* about me section ends here */

/* about me section starts here */
#expert-in{
  background: #f1f8ff;
  padding: 5% 0;

}

.expert-in-icon{
  color: #3689fe;
  font-size: 60px;
  border: 1px solid #d6dee6;
  border-radius: 60px;
  padding: 7.5%;
  margin-bottom: 10%;
  cursor: pointer;
}

.expert-in-titles{
  color: #3677fd;
}
/* about me section ends here */

/* latest works section starts here */

#latest-works{
  padding: 5% 0;
}

/* latest works section ends  here */


/* latest works section starts here */

#clients{
background-color: #f1f8ff;
padding: 5% 0;
}
/* latest works section ends  here */


/* foooter starts here */
footer{
  background: url('../images/footer.jpg') top center no-repeat;
  padding: 3% 0;
  width: 100%;
}

.footer-title{
  color: #fff;
  font-size: 40px;
}

.font-weight-100{
  font-weight: 500;
}

/* footer ends here */

.hire-btn:hover{
  color: black !important;
}

@media only screen and (max-width: 800px) {
  #welcome{
    height: 1200px;
  }

  .cookies {
    height: 120px;
  }

  .cookie-btn{
    margin: -8px 0 !important;
  }

}